@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand:wght@300&display=swap');

h1 {
    font-family: 'Quicksand', sans-serif;
    margin-left: 30.5vw;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    margin-left: 40.7vw;
}